.flavoritem {
  width: 100%;
  margin: 3rem 0;
  background-color: #000;
  display: grid;
  height: 100%;
}

.flavoritem-container {
  width: 100%;
  margin: 3rem 0;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  overflow: hidden;
}

.img-flavor .linkDiv{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flavoritem-container .img {
  height: 60vh;
  width: 100%;
  overflow: hidden;
  position: relative;
  object-fit: cover;
}

.linkDiv:hover {
  background: rgba(255,255,255, .2);
}

.linkDiv .linkto {
  font-size: 2rem;
  font-weight: 700;
}