.menu {
  width: 100%;
  margin: 3rem 0;
  background-color: #000;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.menu1-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  border: 1px solid #eee;
  border-radius: 20px;
  text-align: center;
}

.menu2-container {
  max-width: 1140px;
  margin: auto;
  display: grid;
  border: 1px solid #eee;
  border-radius: 20px;
  text-align: center;
}
.menu1-container .img{
  max-width: 60%;
  border: 1px solid #333;
  border-radius: 100px;
}

.menu2-container .img{
  max-width: 60%;
  border: 1px solid #333;
  border-radius: 100px;
}


@media screen and (max-width: 980px) {
  .card-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
  }
}